<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	
	xmlns:context="http://www.springframework.org/schema/context"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		">
		
		<!-- Annotations config style declaration -->
		<context:annotation-config/>		
		<context:component-scan base-package="org.koushik.javabrains"/>
	
		<!-- RMB + 'Copy Qualified Name' on 
		Project Explorer - %PROJECT% - Maven Dependencies
		 - spring-jdbc-... - ...jdbc.datasource - DriverManagerDataSource.class -->
		 
		<!-- now we will use DBCP as dataSource for polling support -->   
		<bean id="dataSource"
		      class="org.apache.commons.dbcp.BasicDataSource">
		      <!-- we use client driver from Derby client dependency -->
		      <property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver"/>
		      <!-- we use server, configured on our system with existed db -->
		      <property name="url" value="jdbc:derby://localhost:1527/db;create=true"/>
		      
		      <!-- initial size of the pool -->
		      <property name="initialSize" value="2"/>
		      
		      <!-- maximum active connections in the pool at any point of time -->
		      <property name="maxActive" value="5"/>
	    </bean>
	    
	    <!-- for injecting data source to DAO Support class -->
	    <bean id="namedParameterJdbcDaoImpl"
	          class="org.koushik.javabrains.dao.NamedParameterJdbcDaoImpl">
        	<property name="dataSource" ref="dataSource"/>
        </bean>
        
        
        <!-- Class will be a support class from Spring for using Hibernate -->
        <bean id="sessionFactory" 
              class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        	
        	<!-- referring for already existed data source! -->
        	<property name="dataSource" ref="dataSource"/>
        	
        	<!-- what are packages to scan for DAO / model objects (annotated classes) -->
        	<property name="packagesToScan" value="org.koushik.javabrains.model"/>
        	
        	<!-- what language to use when talking to the database -->
        	<!-- here it will be Derby dialect -->
        	<property name="hibernateProperties">
        		<props>
        		    <!-- inside hibernate-core-3.6.10.Final.jar -->
        			<prop key="dialect">org.hibernate.dialect.DerbyDialect</prop>
        		</props>
        	</property>
        	
        </bean>
        
	
</beans>



